# In addition to defaults from docker image

# -e .
# Using PYTHONPATH to access "src" module instead of setup.py install because of permissions.

# Machine Learning
xgboost

# Model Selection
mlxtend

# Data Science
git+https://github.com/earthastronaut/data_science_tools.git@master#egg=data_science_tools
